<div class="center">

    
    
    <aside id="sidebar">
        <div id="nav-blog" class="sidebar-item">
            <h3>Puedes hacer esto</h3>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <a href="#" class="btn btn-success">Crear artículo</a>
        </div>
    
        <div id="search" class="sidebar-item">
                <h3>Buscador</h3>
                <p>Encuentra el artículo que buscas</p>
                <form>
                    <input type="text" name="search" />
                    <input type="submit" name="submit" class="btn" />
                </form>
        </div>
    </aside>
    

    <section id="content">
        <h2 class="subheader">Te encuentras en la sección ADMIN</h2>
        
          
        <!--Listado articulos-->
        <div id="articles">
            <article class="article-item" id="article-template">
                <div class="image-wrap">
                    <img src="https://unhabitatmejor.leroymerlin.es/sites/default/files/styles/header_category/public/2018-10/4%20paisaje%20macedonia.jpg?itok=AELknmF8" alt="Paisaje" />
                </div>
    
                <h2>Articulo de prueba</h2>
                <span class="date">
                    Hace 5 minutos
                </span>
                <a href="#">Leer más</a>
    
                <div class="clearfix"></div>
            </article>
        
        </div>
        
    </section>
    
    <div class="clearfix"></div>
</div>